<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Generated</title>

    <style>
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        body{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }


        header{
            background-color: skyblue;
            height: 10em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1{
            color: white;
        }

        h2{
            display: block !important;
        }


        main{
            text-align: center;
            height: 20em;
            padding-top: 5em;
        }

        h2{
            font-size: 1.7em;
            margin-bottom: 0.7em;
        }

        input{
            width: 20em;
        }

        input, button {
            height: 3em;
            font-size: 1em;
        }

        button{
            padding: 0em 1em;
            background-color: skyblue;
            border: 1px solid black;
            cursor: pointer;
        }

        .analytics-button{
            display: block;
            margin: auto;
            margin-top: 1em ;
        }
        
    </style>
</head>
<body>
    <header>
        <h1>URL Shortner</h1>
    </header>

    <main>
        <h2>Your shortened URL</h2>
        <% if (locals.id) { %>
            <span>localhost:8001/url/<span class="short-id"><%=id %></span></span>
            
        <%} %>
        <form action="/url/analytics/<%=id %>" method="get">
            <button type="submit" class="analytics-button">Show analytics</button>
        </form>
        
    </main>

    
    
    <!-- <script>
        let analytics = document.querySelector('.analytics-button');
        let shortId = document.querySelector('.short-id').textContent;
        analytics.addEventListener('click', async function(){
            await hitShowAnalyticsApi();
        });

        async function hitShowAnalyticsApi(){
            console.log(shortId);
            
            const response = await fetch(`http://localhost:8001/url/analytics/${shortId}`);            
            if(response.ok){
                console.log('content okay');
                
            }
        }
    </script> -->
</body>
</html>