<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>

    <style>
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        body{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }


        header{
            background-color: skyblue;
            height: 10em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1{
            color: white;
        }

        h2{
            display: block !important;
        }


        main{
            text-align: center;
            height: 20em;
            padding-top: 5em;
        }

        h2{
            font-size: 1.7em;
            margin-bottom: 0.7em;
        }

        input{
            width: 20em;
            display: block;
            margin: auto;
            margin-bottom: 1em;
        }

        input, button {
            height: 3em;
            font-size: 1em;
        }

        button{
            padding: 0em 1em;
            background-color: skyblue;
            border: 1px solid black;
            cursor: pointer;
        }
        
    </style>
</head>
<body>
    <header>
        <h1>Log In</h1>
    </header>

    <main>
        <form method="post" action="/user/login">
            <label for="username">Username</label>
            <input required type="text" name="username" placeholder="Enter Username">
            <label for="password">Password</label>
            <input required ="text" name="password" placeholder="Enter Password">
            <button type="submit">Log In</button>
        </form>
    </main>

    
    
</body>
</html>